
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container">
<h1 style="color:blue;">
Durga Prasad's Guestbook </h1>

<a href="/new-entry" class="btn btn-danger pull-right">
    <h2 style="color:black;">  
Write in the guestbook
</h2>
</a>